@import "../../styleutils/variables.scss";

.current-condition {
  background: $background-color;
  padding: 1rem 1rem 1.6rem 1rem;
  border-radius: 0.6rem;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1.2rem;
    font-weight: 300;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  &__temp {
    font-size: 2rem;
    color: red;
  }

  &__feels-like {
    color: red;
  }

  &__precip {
    color: blue;
  }
}