@import "../../../styleutils/variables.scss";

.ui-input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    height: 3rem;
    width: 90%;
    padding-left: 1.5em;
    border-radius: 1.3rem;
    border: none;
    outline: none;
    background: $background-color;
    transition: all 0.1s ease-in;
    box-sizing: border-box;

    &:focus {
      border: 2px solid $main-color;
    }
  }

  &__icon {
    background: none;
    border: none;
    font-size: 1.3rem;
    position: absolute;
    right: 1.5rem;
    top: 0.7rem;
  }
}
