@import "../../styleutils/variables.scss";

.placeitem {
  width: 90%;
  background: $main-color;
  border-radius: 0.8em;
  padding: 1em 2em;
  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-weight: 600;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-weight: 600;
    align-items: flex-end;
  }

  &__with-icon {
    display: flex;
    align-items: center;
    gap: 0.2em;
  }

  &__icon {
    font-size: 1.2em;
  }

  &__button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    color: $main-text-color
  }
}