@import "../../styleutils/variables.scss";

.placeitem {
  width: 100%;
  background: $main-color;
  border-radius: 0.8em;
  padding: 2rem 2rem;
  box-sizing: border-box;
  position: relative;
  height: 10rem;
  display: flex;
  justify-content: center;
  color: $main-text-color;

  &--adding {
    animation: slideIn 0.3s forwards;
  }

  &--removing {
    animation: fadeOut 0.3s forwards;
  }

  &__content {
    display: flex;
    width: 100%;

    &--disabled {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-weight: 600;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: $main-text-color;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-weight: 600;
    align-items: flex-end;
  }

  &__with-icon {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  &__icon {
    font-size: 1.2em;
  }

  &__button {
    position: absolute;
    right: 0.5rem;
    top: 0.6rem;
    color: $main-text-color;

    font-size: 1.3rem;
  }

  &__condition {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  &__img {
    width: 2rem;
    height: 2rem;
  }

  &__buttons {
    display: none;

    &--active {
      display: flex;
      height: 7rem;
      justify-content: center;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
